name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: setup rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: wasm32-unknown-unknown
          components: rustfmt
      
      - name: setup dfx
        uses: dfinity/setup-dfx@main
        with:
          dfx-version: "0.26.0"

      - name: verify installs
        run: |
          node --version
          cargo --version
          dfx --version

      - name: run fmt check
        run: cargo fmt --check

      - name: build canister and oc_agent
        run: |
          export RUSTFLAGS="-Awarnings"
          cargo install candid-extractor
          npm install
          npm run build:canister
          npm run build:oc_agent
          npm run build:tool
          dfx generate

      - name: run unit tests
        run: |
          export RUSTFLAGS="-Awarnings"
          npm run test:unit

      - name: run e2e tests
        run: |
          npm run test:e2e